{% extends "template.base.html" %}

{% block title %}注册{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <h1>Registration</h1>
          <blockquote>
            <p>即将完成</p>
            <div>最后一步，请登录您的邮箱并点击激活链接</div>
            <div>如果未在5分钟内收到邮件，请<a href="mailto:PSLEChineseComp2015@gmail.com">联系我们</a>.</div>
            <div class="text-danger"><strong>请注意! </strong>由于近期大量邮件的发送，激活邮件可能会有延迟，为此我们深表歉意</div>
          </blockquote>
        </div>
      </div>
{% endblock %}
